name: 'CI'

on:
  push:
    branches: ['**']
    tags: ['**']

jobs:
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1 2025-12-02
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0 2025-11-25
        with:
          python-version: '3.14'
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6 2025-12-13
      - name: 'Install dependencies'
        run: 'uv sync --all-extras'
      - name: 'Flake8 :allthethings:'
        run: 'uv run flake8 --max-line-length 120'
  container_build:
    name: 'Build and Push Docker Container'
    runs-on: ubuntu-latest
    needs: [lint]
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1 2025-12-02
      - name: 'Prepare'
        id: 'prep'
        run: |
          DOCKER_IMAGE=ghcr.io/${GITHUB_REPOSITORY,,}
          VERSION=edge
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          fi
          if [[ $GITHUB_REF == refs/heads/* ]]; then
            VERSION=${GITHUB_REF#refs/heads/}
            if [[ $VERSION == main ]]; then
              VERSION=latest
            fi
          fi
          PUSH=true
          if [[ $GITHUB_REF == refs/heads/dependabot* ]]; then
            echo "Dependabot branch"
            PUSH=false
          fi
          TAGS="${DOCKER_IMAGE}:${VERSION//\//-}"
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT
          echo "version=${VERSION//\//-}" >> $GITHUB_OUTPUT
          echo "push=${PUSH}" >> $GITHUB_OUTPUT
        env:
          GITHUB_REPOSITORY: '${{ github.repository }}'
      - name: 'Setup Docker Buildx'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435  # v3.11.1 2025-06-18
      - name: 'Cache Docker layers'
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb  # v5.0.1 2025-12-12
        with:
          path: '/tmp/.buildx-cache'
          key: '${{ runner.os }}-buildx-${{ steps.prep.outputs.version }}'
          restore-keys: |
            ${{ runner.os }}-buildx-
            ${{ runner.os }}-buildx-${{ steps.prep.outputs.version }}
      - name: 'Login to DockerHub'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0 2025-09-29
        with:
          username: '${{ github.actor }}'
          password: '${{ secrets.GITHUB_TOKEN }}'
          registry: 'ghcr.io'
      - name: 'Build and push'
        id: 'docker_build'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0 2025-05-27
        with:
          context: '.'
          file: './Dockerfile'
          # ensure latest base image is used
          pull: 'true'
          # publish
          push: '${{ steps.prep.outputs.push }}'
          # tags determined by prep step
          tags: '${{ steps.prep.outputs.tags }}'
          cache-from: 'type=local,src=/tmp/.buildx-cache'
          cache-to: 'type=local,dest=/tmp/.buildx-cache'
          labels: |
            org.opencontainers.image.documentation=https://github.com/${{ github.repository }}
            org.opencontainers.image.version=${{ steps.prep.outputs.version }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
  actionslint:
    name: 'Actions Yaml Lint'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1 2025-12-02
      - name: 'Actions Yaml Lint'
        uses: karancode/yamllint-github-action@fdef6bc189425ecc84cc4543b2674566c0827053  # v2.1.1 2023-03-13
        with:
          yamllint_file_or_dir: '.github/workflows'
          yamllint_comment: 'true'
          yamllint_config_datapath: '{"extends":"default","rules":{"line-length":{"max":360,"level":"warning"},"truthy":{"check-keys":false},"document-start":{"present":false}}}'
        env:
          GITHUB_ACCESS_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
